.navbar-default .navbar-nav>li>a{
    color: #1f242f;
}
.navbar-nav li.postjob>a{
    color: #fff !important;
}
.navbar-nav li.postjob>a:hover{
    background-color: #0062df;
}
.navbar-nav>li>.dropdown-menu{
    border: 0px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px;
}
.nav-tabs>li>a:hover{
    border-color: transparent;
}

/* modal */
.modal-header{
    background-color: #0063dc !important;
}
.modal-header .close{
    color: #fff;
    opacity: .5;
}
.modal-header .modal-title{
    color: #fff !important;
}
.modal-body {
    position: relative;
    padding: 40px 30px 25px;
}
.modal-body .form-body .form-group{
    position: relative;
}
.modal .custom-modal {
    width: 400px;
}
.modal .custom-modal h5{
    color: #031022;
    text-transform: initial;
    font-size: 28px;
    margin-bottom:25px;
    text-align: center;
}
.modal .custom-modal p{
    color: #1f242f;
    text-align: center !important;
    font-size: 18px;
}
.modal .custom-modal .modal-header{
    padding-bottom: 70px;
}
.modal .custom-modal .header-icon{
    background-image: url(/images/pop_modal_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 130px;
    height: 130px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 25px;
}
.modal .custom-modal .modal-body{
    padding: 75px 30px 50px;
}

/* dropzone */
.dropzone.dz-clickable{
    text-align: center;
    border-radius: 8px;
    background-color: #efefef;
    border-color: #efefef;
}
.dropzone.dz-clickable:hover{
    border-color: #d5e8ff;
    background-color: #d5e8ff;
}
.dropzone.dz-clickable i{
    font-size: 50px;
    pointer-events: none;
}
.dropzone .dz-message{
    margin: 1em 0 !important;
}

.p-0{
	padding: 0rem !important;
}
.p-1{
	padding: .25rem !important;
}
.p-2{
	padding: .5rem !important;
}
.p-3{
	padding: 1rem !important;
}
.p-4{
	padding: 2rem !important;
}
.p-5{
	padding: 4rem !important;
}
.mb-0{
    margin-bottom: 0rem !important;
}
.mb-1{
    margin-bottom: .25rem !important;
}
.mb-2{
    margin-bottom: .5rem !important;
}
.mb-3{
    margin-bottom: 1rem !important;
}
.mb-4{
    margin-bottom: 2rem !important;
}
.mb-5{
    margin-bottom: 4rem !important;
}
.ml-0{
    margin-bottom: 0rem !important;
}
.ml-1{
    margin-left: .25rem !important;
}
.ml-2{
    margin-left: .5rem !important;
}
.ml-3{
    margin-left: 1rem !important;
}
.ml-4{
    margin-left: 2rem !important;
}
.ml-5{
    margin-left: 4rem !important;
}

/* buttons */
.btn{
	font-size: 16px !important;
    padding: 10px 30px !important;	
}
.btn-strong{
	font-weight: 600 !important;
}
.btn,.btn:hover,.btn:focus{
    text-decoration: none !important;
    outline: none;
    text-shadow: none;
}
.btn-small{
	padding: 10px 30px !important;
}
.btn-large{
	font-size: 18px !important;
	padding: 15px 30px !important;
}
.btn-secondary{
	background: #00cbfe !important;
    border: 2px solid #00cbfe !important;
    color: #fff !important;
}
.btn-secondary:hover, 
.btn-secondary:focus{
		box-shadow: 0px 4px 24px 0px rgba(189, 220, 255, 0.43) !important;
}
.btn-primary{
	background: #0063dc !important;
    border: 2px solid #0063dc !important;
    color: #fff !important;
}
.btn-primary:hover, 
.btn-primary:focus{
	box-shadow: 0px 12px 24px 0px rgba(10, 45, 77, 0.43) !important;
}
.btn-default{
	background: #d8d9dc !important;
    border: 2px solid #d8d9dc !important;
    color: #85868c !important;
}
.btn-primary.no-fill{
	color: #0063dc !important;
}
.btn-secondary.no-fill{
	color: #00cbfe !important;
}
.btn-default.no-fill{
	border: 2px solid #85868c !important;
	background: #ecedef !important;
}
.no-fill{
	background-color: #fff !important;
}


/* text */
.text-empty{
    color: #96979d;
    font-weight: 500;
}


/* alerts */
.alert,#success_msg span {
    padding: 12px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    font-size: 16px !important;
    display: block;
}
.alert-success,#success_msg span{
    color: #fff !important;
    background-color: #0eb85a !important;
    border-color: #0eb85a !important;
}   
.alert-danger {
    color: #fff !important;
    background-color: #be1600 !important;
    border-color: #be1600 !important;
}   
.alert-warning {
    color: #fff !important;
    background-color: #bea100 !important;
    border-color: #bea100 !important;
}   
.alert-primary {
    color: #fff !important;
    background-color: #0079be!important;
    border-color: #0079be !important;
}   

.summary-error strong{
    color: #a94442;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-none {
    float: none;
}
.bg-color-primary {
    background-color: #0062df !important;
    border-color: #0062df !important;
}
.bg-color-secondary {
    background-color: #00cbfe !important;
    border-color: #00cbfe !important;
}
.white-bg {
    background-color: white;
}
.has-error {
    margin-bottom: 20px;
}
.googlemap {
    border: 20px solid white;
    border-radius: 4px;
}
.header-contact {
    margin-left: 15px;
    margin-right: 15px;
}
.contact {
    display: flex;
}
.contact-header {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 0px;
}

@media screen and (max-width: 1024px){
    #contact_us {
        display: unset !important;
    }
}
@media screen and (max-width: 768px){
    #companies {
        display: unset !important;
    }
    #contact_us {
        display: unset !important;
    }
}
@media screen and (max-width: 1024px){
    #contact_us_1 {
        display: none !important;
    }
}
@media screen and (max-width: 768px){
    #companies_1 {
        display: none !important;
    }
    #contact_us_1 {
        display: none !important;
    }
    #jobseekers_1 {
        display: none !important;
    }
}

.header .logo img{
	height: unset !important;
}

@media screen and (max-width : 425px){
    .header .logo img{
        height: 33px !important;
    }
}